h2 {font-size: 125%; text-align: center;}

th {
	font-weight: bold;
    font: 14px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
}

td { 
    font: 14px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
}
table {border: 1px solid #ccc;}